.button {
    padding: 8px 18px;
    outline: none;
    border-radius: 5px;
    background-color: rgb(136, 136, 219);
    color: #fff;
    margin-right: 5px
}

.button:hover {
    cursor: pointer;
    background-color: rgb(46, 211, 214) ;
    transition: all 0.2s ease-out
}
.button-link {
    text-decoration: none;
    color: #fff
}