body {
    margin: 0;
    padding: 0
}
.navbar {
    background: linear-gradient(90deg, rgb(14, 6, 49) 0%, rgb(5, 13, 39) 100%);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo {
    color: #fff;
    font-size: 2rem;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}
.nav-title {
    color: rgb(236, 236, 116);
    text-align: start;
    line-height: 1px;
    margin-left: 5px;
}
.nav-title p {
    font-style: italic;
}
.fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 2.5rem
}
.nav-menu {
    width: 60vw;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    justify-content: end;
    text-align: center;
}
.nav-items {
    display: flex;
    align-items: center;
    height: 80px;
}
.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem
}
.nav-link:hover {
    background-color: #1888ff;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}
.fa-bars {
    color: #fff;
}
.menu-icon {
    display: none
}
.nav-link-mobile {
    display: none
}

@media screen and (max-width: 960px) {
    .nav-menu {
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease-out
    }

    .nav-menu.active {
        left: 0;
        background: #242222;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1
    }
    .nav-link {
        width: 100%;
        text-align: center;
        padding: 2rem;
        display: table
    }
    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0px, 20px);
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2rem;
        cursor: pointer;
        transform: translate(-20px, 20px)
    }
    .fa-times {
        color: #fff;
        font-size: 2rem
    }
    Button {
        display: none
    }
    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #1888ff;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
      }
    
      .nav-links-mobile:hover {
        background: #fff;
        color: #1888ff;
        transition: 250ms;
      }
}