* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
 
}

 .services, .products, .contact-us, .sign-up {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
}
/* .home {
    background-image: url('./Images/img-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center;
    color: #fff
} */ */
.products {
    background-image: url('./Images/img-6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff
}
.services {
    background-image: url('./Images/img-7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff
}
.contact-us {
    background-image: url('./Images/img-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff
}

